:root {
  --declarative-elements-color: #FF0070;
  --title-bg-color: #ff0070;
  --title-header-color: #DB00FF;
  --title-color: #000028;
  --text-color: #f1b2ce;
}

:root.theme-dark {
  --declarative-elements-color: #FF0070;
  --title-bg-color: #ff0070;
  --title-header-color: #DB00FF;
  --title-color: #000028;
  --text-color: #f1b2ce;
}

.theme-dark .page {
  background-image: url(/images/cover-image-dark.png);
}
