:root.theme-light {
  --declarative-elements-color: #353430;
  --declarative-elements-color-rgb: 53 52 48;
  --title-bg-color: #ff8dcb;
  --title-header-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
  --bg-color-site: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .rec {
  display: none;
}

.theme-light .page {
  background-image: var(--bg-image);
  background-color: var(--bg-color-site);
}

.theme-light .header__theme-menu {
  display: flex;
  margin-top: 70px;
}

.theme-light .title_header {
  margin-top: 60px;
}

.theme-light .text_header-decor {
  margin-top: 50px;
}

@media (width >= 768px) {
  .theme-light .header__theme-menu {
    margin-top: 60px;
  }

  .theme-light .title_header {
    margin-top: 50px;
  }
  .theme-light .text_header-decor {
    margin-top: 30px;
  }
}

@media (width >= 1024px) {
  .theme-light .header__theme-menu {
    position: relative;
    margin-left: 10px;
    margin-top: 0;
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
  }

  .theme-light .title_header {
    margin-top: -40px;
  }

  .theme-light .text_header-decor {
    margin-top: 10px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --declarative-elements-color: #353430;
    --declarative-elements-color-rgb: 53 52 48;
    --title-bg-color: #ff8dcb;
    --title-header-color: #ffc2e6;
    --title-color: #353430;
    --text-color: #353430;
    --bg-color-site: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__theme-menu {
    margin-top: 60px;
  }

  .rec {
    display: none;
  }
  .page {
    background-image: var(--bg-image);
    background-color: var(--bg-color-site);
  }

  @media (width >= 1024px) {
    .header__theme-menu {
      margin-top: 0px;
    }
  }
}
