:root {
  --declarative-elements-color: #353430;
  --title-bg-color: #FF8DCB;
  --title-header-color: #FFC2E6;
  --title-color: #353430;
  --text-color: #353430;
  --bg-color-site: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
}


/* light.css */

.theme-light .rec {
  display: none;
}

.theme-light .page {
  --bg-color-site: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {

  .page {
    --declarative-elements-color: #353430;
    --title-bg-color: #FF8DCB;
    --title-header-color: #FFC2E6;
    --title-color: #353430;
    --text-color: #353430;
    --bg-color-site: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
  }

 .rec {
        display: none;
    }
}